.navBar {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
    &>a>button{
        background-color: yellow;
        border: 1px solid yellow;
        cursor: pointer;
    }
}

